<form action="/registrar-horas" method="POST">
    <div>
        <div class="formcontrol">
            <label for="disciplina">Qual a disciplina estudada?</label>
            <input type="text" placeholder="Disciplina" name="disciplina">
        </div>
        <div class="formcontrol">
            <label for="horas">Quantas horas foram estudadas?</label>
            <input type="number" placeholder="Horas líquidas" name="horas">
        </div>
        <div class="formcontrol">
            <label for="descricao">Como foram os estudos?</label>
            <textarea type="text" placeholder="Descricao" name="descricao"></textarea>
        </div>
            <div class="formcontrol">
            <label for="descricao">Qual a data de hoje?</label>
            <input  type="date" placeholder="Data" name="data">
        </div>
    </div>
    <input type="submit" value="enviar">
</form>