<div class="container">
    <h1>Pegasus - Controle sua Produtividade!</h1>
    <div class="about">
        Com o sistema Pégasus, você terá total controle da sua produtividade, evitará
        procastinações e, assim, alcançará a tão desejada meta!
    </div>
    <div class="wallpaper">
    </div>
</div>